<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment :: head"/>
    <body id="page-top">
        <!-- Navigation-->
        <div id="top"/>
        <nav th:replace="fragment :: publicnav" />
        <!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="masthead-subheading">Welcome To TomChan Spring project</div>
                <div class="masthead-heading text-uppercase">Tom Badminton</div>
                <div class="row_topbotton">
                    <div class="col-md-12">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/authentication/login">Login</a>
                    </div>
                </div>
                <div class="row_topbotton">   
                    <div class="col-md-12">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/authentication/register">Register</a>
                    </div>                    
                </div>
                <div class="row_topbotton">   
                    <div class="col-md-12">
                    <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/public/shoppingcenter">Shop Now</a>
                    </div>                    
                </div>                
            </div>
        </header>
        <!-- Services-->
        <section class="page-section" id="about">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Information of the project</h2>
                    <h3 class="section-subheading text-muted">The fake online shopping center, for praticing model layer and view layer interaction</h3>
                    <br/>
                    <h3 class="section-subheading text-muted">Tech used in the project:</h3>
                    <img src="assets/img/Java_Logo.svg" alt="" />
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <img src="assets/img/Java_Logo.jpeg" alt="" />
                        <h4 class="my-3">Shopping Center</h4>
                        <p class="text-muted">Provide different sport equipment. Click the icon to shop</p>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/mysqlLogo.jpg" alt="" />
                        <h4 class="my-3">Contact us anytime</h4>
                        <p class="text-muted">If you have any question, please feel free to contact me</p>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/springthy.jpg" alt="" />
                        <h4 class="my-3">Web Security</h4>
                        <p class="text-muted">Your private information is encrypted by HTTPS</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Portfolio Grid-->
        
        <!-- About-->
        <section class="page-section">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">About</h2>
                    <h3 class="section-subheading text-muted">Here is the personal WebSite mantained by TomChan, for study Java MVC development and for fun, please feel free to tell me if you find any bugs here.<br><br> The further functions will launch very soon</h3>
                </div>
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <h4><br />developing</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Start with spring</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Spring bootstrap with JPA, H2, Web, Lombok, thymeleaf, Spring Security</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><br />developing</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">MySQL Database</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Manage data by MySQL Database, using JPA API to bridge Spring java program with the relational database</p></div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="" /></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Heroku Platform as a Service</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted"> Hosting on Heroku cloud service</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><br />developing</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="subheading">Spring Thynekeaf template engine</h4>
                            </div>
                            <div class="timeline-body"><p class="text-muted">Thymeleaf engine as the frontend, plan to use react js framework to replace in the future, still studying however</p></div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4><br />developing</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    
        <!-- Contact-->
        <section class="page-section" id="contact">
            <div class="container">
                        <div class="text-center">
                            <h2 class="section-heading text-uppercase">Contact</h2>
                        </div>
                        <div class="row">
                            <div class ="col-md-12 text-center">
                                <p class="help-block text-white">Email: avan106206@gmail.com</p>
                            </div>                          
                        </div>
                        <div class="row">
                            <div class ="col-md-12 text-center">
                                <p class="help-block text-white">phone: 51926181</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class ="col-md-6">
                                <p class="help-block text-white"></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class =""col-md-6"">
                                <p class="help-block text-white"></p>
                            </div>
                        </div>
            </div>
        </section>
        <!-- Footer-->
        <footer th:replace="fragment :: footer" />
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Contact form JS-->
        <script src="assets/mail/jqBootstrapValidation.js"></script>
        <script src="assets/mail/contact_me.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
