<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment :: head"/>

<body class="Accountcontact">
	<div class="container">
		<div class="text-center">
              <h2 class="section-heading" style="color:white">Working on it</h2>
        </div>
        <div class="row_topbotton">   
            <div class="col-md-12">
            <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="/">Back</a>
           </div>                    
        </div>  
	</div>
</body>
</html>